version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: analytics_api:v1

    env_file:
      - .env.compose

    ports:
      - "8002:8000"

    
    volumes:
      - ./src:/code/src

    environment:
      - PYTHONPATH=/code/src


    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

    develop:
      watch:
        - action: rebuild
          path: Dockerfile
        - action: rebuild
          path: requirements.txt
        - action: rebuild
          path: docker-compose.yml
